registry=https://fanlink-942114770507.d.codeartifact.ap-south-1.amazonaws.com/npm/new-repo/
//fanlink-942114770507.d.codeartifact.ap-south-1.amazonaws.com/npm/new-repo/:always-auth=true
//fanlink-942114770507.d.codeartifact.ap-south-1.amazonaws.com/npm/new-repo/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
